# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.d

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/build/codelite/Makefile
/build/codelite/.codelite
Debug
/build/codelite/test/*.mk
/build/codelite/test/*.txt
/build/vc2015/Debug
/build/vc2015/Release
/build/vc2015/x64
/build/vc2015/ara/x64
/build/vc2015/test/x64
/build/vc2015/benchmark/x64
/build/vc2017/Debug
/build/vc2017/Release
/build/vc2017/x64
/build/vc2017/ara/x64
/build/vc2017/test/x64
/build/vc2017/benchmark/x64
bin
*.opensdf
*.sdf
*.vcxproj.user
.vs
*.db
*.opendb
.vscode
